@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexTableroViewModel

<h2>Tableros</h2>
<nav  class="mb-4">
    <ul class="list-unstyled"> 
        <li  class="d-inline-block mr-2">
            <a class="btn btn-success btn-lg" role="button" aria-pressed="true"asp-controller="Tablero" asp-action="NuevoTablero">Nuevo Tablero</a>
        </li>
         <li class="d-inline-block mr-2">
            <a class="btn btn-success btn-lg" role="button" aria-pressed="true" asp-controller="Tarea" asp-action="Nuevatarea" asp-route-idTablero="">Crear Tareas</a>
        </li>
    </ul>
</nav>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tablero in Model.tableros)
        {
            <tr>
                <td hidden>@tablero.Id</td>
                <td>@tablero.Nombre</td>
                <td>@tablero.Descripcion</td>
                <td>
                    <a class="btn btn-secondary btn-sm" role="button" role="button" aria-pressed="true" asp-controller="Tablero" asp-action="ModificarTablero" asp-route-idTablero="@tablero.Id">Editar</a> @*manda al get*@
                
                    <a class="btn btn-secondary btn-sm" role="button" role="button" aria-pressed="true" asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>

                    <a class="btn btn-secondary btn-sm" role="button" role="button" aria-pressed="true" asp-controller="Tarea" asp-action="Index" asp-route-idTablero="@tablero.Id">Tareas</a>
                </td>
            </tr>
        }
    </tbody>
</table>