@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexTableroViewModel
@{ 
    var mensaje = TempData["Mensaje"] as string;
    int? idTablero = TempData["idTablero"] as int?;
}
<nav class="mb-4">
    <ul class="list-unstyled">
        <li class="d-inline-block mr-2">
            <a class="btn" style="background-color:  #636363c7; color: white;" role="button" aria-pressed="true"
                asp-controller="Tablero" asp-action="NuevoTablero">Nuevo Tablero</a>
        </li>
        <li class="d-inline-block">
            <a class="btn" style="background-color: #636363c7; color: white;" role="button" aria-pressed="true"
                asp-controller="Tarea" asp-action="Nuevatarea" asp-route-idTablero="">Crear Tareas</a>
        </li>
    </ul>
</nav>

<h4 class="text-center" class="mb-4">Tableros propios</h4>
@if (Model.TablerosPropios.Count() == 0)
{
    <p class="text-center"><strong>Aun no tienes ningún tablero</strong></p>
}
else
{      <div class="table-responsive">
        <table class="table">
            <tbody>
                @foreach (var tablero in Model.TablerosPropios)
                {
                    <tr>
                        <td hidden>@tablero.Id</td>
                        <td>@tablero.Nombre</td>
                        <td>@tablero.Descripcion</td>
                        <td>
                            <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                                asp-controller="Tablero" asp-action="ModificarTablero"
                                asp-route-idTablero="@tablero.Id">
                               <img src="~/img/lapiz.png"alt="editar" style="width: 10mm; height: 10mm;">Editar</a>

                            <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                                asp-controller="Tablero" asp-action="EliminarTablero" asp-route-idTablero="@tablero.Id"
                                onclick="return confirm('¿Estás seguro que quieres eliminar el elemento?')">
                                <img src="~/img/eliminar.png"alt="Eliminar" style="width: 10mm; height: 10mm;">Eliminar</a>

                            <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                                asp-controller="Tarea" asp-action="TareasTablerosPropios" asp-route-idTablero="@tablero.Id">
                                <img src="~/img/tareas.png"alt="tareas" style="width: 18mm; height: 10mm;">Tareas
                            </a>
                            <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                                asp-controller="Tarea" asp-action="NuevaTareaTableroExplicito" asp-route-idTablero="@tablero.Id">
                                <img src="~/img/nuevaTarea.png"alt="Nuevatarea" style="width: 12mm; height: 12mm;">Añadir Tarea
                            </a>
                            @if(mensaje!=null && idTablero == tablero.Id)
                            {
                                <p class="text-center" style="background-color : red; color: white; display: inline-block; padding: 3px; border-radius: 4px;">@mensaje</p>
                                mensaje = null;
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>

}



<h4 class="text-center">Tableros donde tienes tareas</h4>
@if (Model.TablerosNoPropios.Count() == 0)
{
    <p class="text-center"> <strong>Aun no tienes tareas en ningun tablero<strong></p>
}
else
{
    <div class="table-responsive">
        <table class="table">
            <tbody>
                @foreach (var tablero in Model.TablerosNoPropios)
                {
                    <tr>
                        <td hidden>@tablero.Id</td>
                        <td>@tablero.Nombre</td>
                        <td>@tablero.Descripcion</td>
                        <td>
                            <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                                asp-controller="Tarea" asp-action="TareasTablerosNoPropios" asp-route-idTablero="@tablero.Id">
                                <img src="~/img/tareas.png"alt="tareas" style="width: 18mm; height: 10mm;">Tareas
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
