@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexTareaViewModel

<h2>Tareas</h2>
<nav class="mb-4">
    <ul class="list-unstyled">
        <li class="d-inline-block">
            <a class="btn btn-secondary" role="button" aria-pressed="true" asp-controller="Tablero" asp-action="Index" style="color: rgb(255, 255, 255);">Volver</a>
        </li>
    </ul>
</nav>
@if(Model.tareasView.Count()==0)
{
     <p class="text-center"> <strong>Aún no tienes tareas en el tablero<strong></p>

}else{
    <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Propietario</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.tareasView)
        {
            <tr class="table-secondary">
                <td>@tarea.Nombre</td>
                <td>@tarea.NombreEncargado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>
                    <a class="btn btn-secondary btn-sm" role="button" asp-controller="Tarea" asp-action="ModificarTarea" asp-route-idTarea="@tarea.Id">Editar</a>
                    <a class="btn btn-danger btn-sm" role="button" asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
