@using tl2_tp10_2023_julian_quin.ViewModels
@model ModificarTareaViewModel
<h2>Modificar Tarea</h2>

<form class="forms_Modificar" asp-controller="Tarea" asp-action ="ModificarTarea"> 
    <input hidden asp-for="@Model.Id"> 
    <input hidden asp-for="@Model.IdTablero">

    <div class="form-group">
        <label asp-for="@Model.Nombre">Nombre</label>
        <input asp-for="@Model.Nombre" class="form-control"/>
        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion">Descripcion</label>
        <input asp-for="@Model.Descripcion" class="form-control" />
        <span asp-validation-for="@Model.Descripcion" class="text-danger"></span>
    </div>
    <div class="form-group">
     <label asp-for="@Model.Color">Color</label>
        <select asp-for="@Model.Color" class="form-control">
            <option value="ninguno">ninguno</option>
            <option value="rojo">Rojo</option>
            <option value="naranja">Naranja</option>
            <option value="amarillo">Amarillo</option>
            <option value="verde">Verde</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.IdUsuarioAsignado">Asignar usuario</label>
        <select asp-for="@Model.IdUsuarioAsignado" class="form-control">
            <option value="">sin Asignar</option>
            @foreach (var usuario in Model.Usuarios)
            {
                <option value="@usuario.Id">@usuario.NombreDeUsuario</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Estado">Estado</label>
        <select asp-for="@Model.Estado" class="form-control">
            @foreach (var tipo in Enum.GetValues(typeof(EstadoTarea)))
            {
                <option value="@tipo">@tipo</option>
            }
        </select>
        <span asp-validation-for="@Model.Estado" class="text-danger"></span>
    </div>
  
    <button type="submit" class="btn btn-success">Modificar</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }