@model Tarea

<form asp-controller="Tarea" asp-action ="NuevaTarea"> 
    <div class="form-group">
        <label asp-for="@Model.IdTablero"></label>
        <input asp-for="@Model.IdTablero" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Descripcion"></label>
        <input asp-for="@Model.Descripcion" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Color"></label>
        <input asp-for="@Model.Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Estado"></label>
        <input asp-for="@Model.Estado" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>