@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexTareaViewModel
@{ 
    var mensaje = TempData["Mensaje"] as string;
    int? idTarea = TempData["idTarea"] as int?;
}

<h4 class="text-center" class="mb-4" >Tareas</h4>
<nav class="mb-4">
    <ul class="list-unstyled">
        <li class="d-inline-block">
            <a class="btn btn-secondary" role="button" aria-pressed="true" asp-controller="Tablero" asp-action="Index" style="color: rgb(255, 255, 255); background-color:rgb(0, 0, 0);">Volver</a>
        </li>

    </ul>
</nav>
@if(Model.tareasView.Count()==0)
{
     <p class="text-center"> <strong>Aún no tienes tareas en el tablero<strong></p>

}else{
    <div class="table-responsive">
    <table class="table">
    <tbody>
        @foreach (var tarea in Model.tareasView)
        {
            <tr>
                <td>@tarea.Nombre</td>
                <td>@tarea.NombreEncargado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>
                    <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                        asp-controller="Tarea" asp-action="ModificarTarea"
                        asp-route-idTarea="@tarea.Id">
                        <img src="~/img/lapiz.png"alt="editar" style="width: 10mm; height: 10mm;">Editar
                    </a>

                    <a class="btn btn-sm" style="color: rgb(0, 0, 0);" role="button"
                        asp-controller="Tarea" asp-action="EliminarTarea" asp-route-idTarea="@tarea.Id"
                        onclick="return confirm('¿Estás seguro que quieres eliminar esta tarea?')">
                       <img src="~/img/eliminar.png"alt="Eliminar" style="width: 10mm; height: 10mm;">Eliminar
                    </a>
                    @if (mensaje!= null && tarea.Id == idTarea)
                    {
                         <p class="text-center" style="background-color : red; color: white; display: inline-block; padding: 3px; border-radius: 4px;">@mensaje</p>
                        mensaje = null;
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
}
