@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexTareaViewModel
@{ 
    var mensaje = TempData["EstadoTarea"] as string;
}

<h4 class="text-center" class="mb-4" >Tareas</h4>
<nav class="mb-4">
    <ul class="list-unstyled">
        <li class="d-inline-block">
            <a class="btn btn-secondary" role="button" aria-pressed="true" asp-controller="Tablero" asp-action="Index"
                style="color: rgb(255, 255, 255);">Volver</a>
        </li>
    </ul>
</nav>
@if(mensaje!=null)
{
    <p class="text-center" style="color:rgb(22, 190, 36);"><strong>@mensaje</strong></p>
    mensaje = null;
}
@if(Model.tareasView.Count()==0)
{
    <p class="text-center"><strong>Aun no tienes ninguna tarea asignada</strong></p>
}else
{
    <div class="table-responsive">
    <table class="table">
    <tbody>
        @foreach (var tarea in Model.tareasView)
        {
            <tr>
                <td>@tarea.Nombre</td>
                <td>@tarea.NombreEncargado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>
                    @if( ViewBag.idSession == tarea.IdUsuarioAsignado)
                    {
                        <form class ="formulario-personalizado" asp-controller="Tarea" asp-action="CambiarEstadoTareaTablerosNoPropio">
                            <select name="Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()">
                            </select>
                            <input hidden name="idTarea" value="@tarea.Id">
                            <input type="submit" value="Cambiar">
                        </form>
                    }
                </td>
                
                @if(ViewBag.idSession == tarea.IdUsuarioAsignado)
                {
                    <td> <img src="~/img/usuario.png" alt="Asignado a mí" style="width: 8mm; height: 8mm;"></td>
                }else {<td></td>}   
            </tr>
        }
    </tbody>
</table>
</div>
<div>
   <p style="display: inline-block;">Identifica tus tareas asignadas apartir del icono distintivo : </p><img src="~/img/usuario.png" alt="Asignado a mí" style="width: 6mm; height: 6mm;">
</div>

}

