@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexTareaViewModel
@{ 
    var mensaje = TempData["EstadoTarea"] as string;
}

<h2>Lista de Tareas</h2>
<nav class="mb-4">
    <ul class="list-unstyled">
        <li class="d-inline-block">
            <a class="btn btn-secondary" role="button" aria-pressed="true" asp-controller="Tablero" asp-action="Index"
                style="color: rgb(255, 255, 255);">Volver</a>
        </li>
    </ul>
</nav>
@if(mensaje!=null)
{
    <p class="text-center" style="background-color : rgba(42, 201, 28, 0.808); color: rgb(0, 0, 0); display: inline-block; padding: 5px;">@mensaje</p>
    mensaje = null;
}
@if(Model.tareasView.Count()==0)
{
    <p class="text-center"><strong>Aun no tienes ninguna tarea asignada</strong></p>
}else
{
    <table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Propietario</th>
            <th>Descripcion</th>
            <th>Color</th>
            <th>Estado</th>
            <th>Acciones</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tarea in Model.tareasView)
        {
            <tr class="table-secondary">
                <td>@tarea.Nombre</td>
                <td>@tarea.NombreEncargado</td>
                <td>@tarea.Descripcion</td>
                <td>@tarea.Color</td>
                <td>@tarea.Estado</td>
                <td>
                    @if( ViewBag.idSession == tarea.IdUsuarioAsignado)
                    {
                        <form class ="formulario-personalizado" asp-controller="Tarea" asp-action="CambiarEstadoTarea">
                            <select name="Estado" asp-items="@Html.GetEnumSelectList<EstadoTarea>()">
                            </select>
                            <input hidden name="idTarea" value="@tarea.Id">
                            <input type="submit" value="Cambiar">
                        </form>
                    }
                </td>
                
                @if(ViewBag.idSession == tarea.IdUsuarioAsignado)
                {
                    <td> <img src="~/img/usuario.png" alt="Asignado a mí" style="width: 8mm; height: 8mm;"></td>
                }else {<td></td>}   
            </tr>
        }
    </tbody>
</table>
<div>
   <p style="display: inline-block;">Identifica tus tareas asignadas apartir del icono distintivo : </p><img src="~/img/usuario.png" alt="Asignado a mí" style="width: 6mm; height: 6mm;">
</div>

}

