@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexUsuarioViewModel //este es el objeto o modelo que recibe
<h2>Usuarios</h2>
<nav class="mb-4">
    <ul class="list-unstyled">  
        <li  class="d-inline-block">
            <a class="btn btn-dark active" role="button" aria-pressed="true" asp-controller="Usuario" asp-action="NuevoUsuario">Nuevo Usuario</a>
        </li>
    </ul>
</nav>

<table class="table table-dark">
    <thead>
        <tr>
            <th >Id</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.usuarios)
        {
            <tr>
                <td class="bg-success"> @usuario.Id</td> 
                <td class="bg-success">@usuario.NombreDeUsuario</td>
                <td class="bg-success">@usuario.Rol</td>
                <td class="bg-success">
                    <a class="btn btn-light btn-sm" role="button"  asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsuario ="@usuario.Id">Editar</a> 
                    <a class="btn btn-light btn-sm" role="button" asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>