@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexUsuarioViewModel
<nav class="mb-4">
    <ul class="list-unstyled">  
        <li  class="d-inline-block">
            <a class="btn btn-dark active" role="button" aria-pressed="true" asp-controller="Usuario" asp-action="NuevoUsuario">Nuevo Usuario</a>
        </li>
    </ul>
</nav>
<div class="table-responsive">
<table class="table table-usuario">
    <thead>
        <tr>
            <th hidden >Id</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.usuarios)
        {
            <tr>
                <td hidden class="bg-success"> @usuario.Id</td> 
                <td class="bg-success">@usuario.NombreDeUsuario</td>
                <td class="bg-success">@usuario.Rol</td>
                <td class="bg-success">
                     <a class="btn btn-sm" style="color: white;" role="button" asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsuario="@usuario.Id">
                       <img src="~/img/lapiz.png"alt="editar" style="width: 10mm; height: 10mm;">
                    </a>

                     <a class="btn btn-sm" style="color: white;" role="button" asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id" onclick="return confirm('¿Estás seguro que quieres eliminar el elemento?')">
                       <img src="~/img/eliminar.png"alt="Eliminar" style="width: 10mm; height: 10mm;">
                    </a>
                </td>            
            </tr>
        }
    </tbody>
</table>
</div>