@using tl2_tp10_2023_julian_quin.ViewModels
@model IndexUsuarioViewModel //este es el objeto o modelo que recibe

@*la vista que espera un modelo del tipo lista de Usuario, es decir se esta definiendo un modelo para la vista*@
@*usamos la sintaxis Razor para definir código C# en la vista*@

<h2>Lista de Usuarios</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th >Id</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model.usuarios)
        {
            <tr>
                <td class="bg-primary"> @usuario.Id</td> 
                <td class="bg-primary">@usuario.NombreDeUsuario</td>
                <td  class="bg-success">@usuario.Rol</td>
                <td class="bg-info">
                    <a asp-controller="Usuario" asp-action="ModificarUsuario" asp-route-idUsuario ="@usuario.Id">Editar</a> 
                    <a asp-controller="Usuario" asp-action="EliminarUsuario" asp-route-idUsuario="@usuario.Id" onclick="return confirm('¿Estas seguro que quieres eliminar el elemento?')">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>