@using tl2_tp10_2023_julian_quin.ViewModels
@model ModificarUsuarioViewModel

<h2>Modificar Usuario</h2>
<nav class="mb-4" style="margin-right: 10vw;">
    <ul class="list-unstyled" >
        <li class="d-inline-block"  style="margin-left: 340px;">
            <a class="btn btn-secondary" role="button" aria-pressed="true" asp-controller="Usuario" asp-action="Index" style="color: rgb(255, 255, 255); background-color:rgb(117, 117, 117);">Volver</a>
        </li>
    </ul>
</nav>

<form class="forms_Modificar" asp-controller="Usuario" asp-action="ModificarUsuario">
    <input hidden asp-for="@Model.Id">
    <div class="form-group">
        <label asp-for="@Model.NombreDeUsuario"></label>
        <input asp-for="@Model.NombreDeUsuario" class="form-control" />
        <span asp-validation-for="@Model.NombreDeUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Contrasenia"></label>
        <input asp-for="@Model.Contrasenia" class="form-control"/>
        <span asp-validation-for="@Model.Contrasenia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Rol"></label>
        <select asp-for="@Model.Rol" class="form-control">
            @foreach (var nivel in Enum.GetValues(typeof(Rol)))
            {
                <option value="@nivel">@nivel</option>
            }
        </select>
        <span asp-validation-for="@Model.Rol" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Modificar</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }